* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
}

.firstwrapper {
  display: flex;
}

.firstpg-rightpage {
  background-color: #fd5334;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  background-color: #7025fb;
  height: 84px;
}

section {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.mainimg {
  width: 100%;
}

.leftpage {
  height: 100vh;
  overflow: hidden;
  width: 48%;
}

.pagetitle {
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
}

.chesslogo {
  padding-left: 2rem;
  padding-right: 0.5rem;
  height: 1.9rem;
}

.firstpg-firstquote {
  font-size: 8rem;
  font-weight: 700;
  color: #fff;
}

.firstpg-secondquote {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: 700;
}

.firstpg-thirdquote {
  font-size: 8rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 12rem;
}

.firstpg-firstpartquote {
  display: flex;
  align-items: center;
}

.firstpg-rightpagecontent {
  margin-top: 25rem;
  margin-left: 8.5rem;
}

.buttonlink,
.buttonlink:visited {
  text-decoration: none;
  background-color: #212529;
  padding: 1.2rem 2.4rem;
  display: flex;
  align-items: center;
  width: fit-content;
  color: #ffffff;
  font-size: 2rem;
  border-radius: 0.8rem;
  gap: 1rem;
  border: 1px solid #212529;
}

.gonext {
  position: absolute;
  top: 58rem;
  right: 0;
}

.buttonlink:hover {
  outline: 0.3rem solid #b197fc;
}

.secondpg-leftpagecontent {
  position: absolute;
  top: 28%;
  left: 7%;
  width: 40rem;
  font-weight: 800;
}

.secondpg-firstquote,
.thirdpg-firstquote {
  font-size: 2.2rem;
  line-height: 4rem;
}

.secondpg-secondquote,
.thirdpg-secondquote {
  font-size: 2rem;
  margin-top: 1.2rem;
  color: #e5e6e8;
  font-weight: 400;
}

.secondpg-rightpage,
.thirdpg-rightpage {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  flex-grow: 1;
}

.right-header {
  padding-left: 5rem;
  font-size: 2rem;
  border-bottom: 1px solid rgba(185, 180, 195, 0.3);
  height: 8.4rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.block {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 230, 232, 1);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: 1px solid #e5e6e8;
}

/* ticks is not displayed, eventually it gets displayed instead of number 1 in form tracker */
.ticks {
  display: none;
}

/* this "step-one" block is displayed as block,
eventually it becomes "display:none" and ticks icon will replace it  */
.step-one {
  display: block;
}

.info {
  background-color: transparent;
}

.exp {
  color: rgba(149, 147, 154, 1);
}

.exp-block-thirdpage {
  color: #212529;
  background-color: transparent;
}

.info-block-thirdpg {
  background-color: rgba(233, 250, 241, 1);
}

.step-one-thirdpg {
  display: none;
}

.ticks-thirdpg {
  display: block;
}

.line {
  width: 17.4rem;
  border-bottom: 1px solid rgba(185, 180, 196, 0.3);
}

.form-tracker {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 6rem;
  margin-left: 11.1rem;
}

.info-block-wrapper,
.exp-block-wrapper {
  position: relative;
}

.info-text-step,
.exp-text-step {
  font-family: "Open Sans";
  position: absolute;
  left: 50%;
  bottom: -3rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  transform: translateX(-50%);
  white-space: nowrap; /*  second word was getting on second page and this helped  */
}

.pers-inf {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);
}

.basic-inf {
  font-weight: 600;
  font-size: 1.4rem;
  color: #95939a;
  margin-bottom: 11rem;
}

.form-container {
  margin-top: 15rem;
  margin-left: 5rem;
  width: 77.5rem;
  height: 60rem;
  position: relative; /* for buttons */
}

.input-field {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

/* .input-field label {
  position: absolute;
  top: 0.86rem;
  left: 1.9rem;
  font-size: 2rem;
  font-weight: 400;
  cursor: text;
} */

.input-field input,
.selector {
  padding: 0.5rem 2rem;
  padding-right: 4rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 0.4rem;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  width: 100%;
  height: 4.4rem;
  font-size: 2rem;
  font-weight: 400;
  color: #212529;
}

.input-field-wrapper {
  margin-bottom: 5rem;
}

.selector {
  padding-right: 1.5rem;
  margin-bottom: 0;
}

.greentick {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  visibility: hidden;
}

.input-field input:hover {
  background-color: #e9ecef;
}
.input-field input:focus {
  background-color: #dee2e6;
}

/* if input gets through validation it gets "valid" class whitch gives it green tick icon */
.input-field.valid .greentick {
  visibility: visible;
}

/* if input cant get through validation it gets "invalid" class whitch gives red color */
.input-field.invalid input {
  background-color: #ffe3e3;
  color: rgba(220, 53, 69, 1);
}

/* .input-field label:after {
  content: " *";
  color: red;
} */

/* input:focus + label {
  display: none;
}

input:disabled + label {
  display: none;
} */

.forthnback-buttons {
  display: flex;
  justify-content: space-between;
}

.goback,
.goback:visited {
  background-color: transparent;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  color: rgba(33, 37, 41, 1);
  border: 1px solid rgba(33, 37, 41, 1);
  position: absolute;
  top: 58rem;
  left: 0;
}

.goback:hover {
  border-color: #b197fc;
  background-color: #dee2e6;
}

.thirdpg-secondquote {
  color: rgba(9, 63, 104, 1);
  text-align: end;
}

.thirdpg-leftpagecontent {
  position: absolute;
  top: 22%;
  left: 3%;
  width: 53rem;
  font-weight: 800;
}

.listswrapper {
  display: flex;
  gap: 1rem;
}

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listwrapper {
  width: 85rem;
  display: flex;
  gap: 2rem;
}

/* this drop down list options gets displayed when drop down input is clicked */
.knowledgelist,
.characterlist {
  list-style: none;
  position: absolute;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  top: 4.6rem;
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #ffffff;
  max-height: 30rem;
  overflow: auto;
  scroll-behavior: smooth;
  display: none;
  padding-left: 0;
}

/* class to make knowledge selector active via javascript */
.active {
  display: block;
}

/* drop down list scrollbar styling */
.forcharacter ul::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

.forcharacter ul::-webkit-scrollbar-track {
  background-color: rgba(233, 236, 239, 1);
  border-radius: 100px;
}

.forcharacter ul::-webkit-scrollbar-thumb {
  background-color: rgba(203, 207, 210, 1);
  border-radius: 100px;
}
/*  */

.forknowledge {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.forcharacter {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.forknowledge ul li {
  padding: 0.5rem 2rem;
  height: 4.4rem;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

.forknowledge ul li:hover,
.forcharacter ul li:hover {
  font-weight: 600;
  background-color: #f7f7f9;
}

.characterimg {
  width: 10rem;
}

.forcharacter li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

small {
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(129, 125, 125, 1);
  font-weight: 600;
}

.arrow-down {
  transition: 300ms;
}

.rotate {
  transform: rotate(540deg);
}

.question-div {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 7rem;
  margin-left: 1rem;
}

.answers {
  padding-top: 1.3rem;
  display: flex;
  gap: 2rem;
}

.question {
  font-size: 2rem;
}

p,
h1 {
  margin-bottom: 0;
}

/* date input background color was disabled from flatpicker, it gets enabled again */
.form-control:enabled {
  background-color: transparent;
}

/* flatpicker styles was not relevant  */
/* and this overwrites flatpicker styles */
.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
}

/* eventlistener is added on the parent element of this elements, so to prevent clicking on child elements im setting pointer-events: none */
.knowledge,
.character {
  pointer-events: none;
}

.arrow-down {
  pointer-events: none;
}
/*  */

.popup {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  width: 40rem;
  top: -14%;
  right: -20%;
  display: none;
}

.error-warning {
  display: flex;
  gap: 1rem;
  padding: 1rem 1.2rem;
  align-items: center;
  color: rgba(220, 53, 69, 1);
  font-weight: 600;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.warning-text {
  flex-grow: 1;
}

.close-popup {
  cursor: pointer;
}

.error-message-div {
  font-weight: 400;
  color: rgba(33, 37, 41, 1);
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
}

.knowledge-error-message,
.character-error-message {
  color: rgba(220, 53, 69, 1);
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2rem;
  padding-top: 0.6rem;
  visibility: hidden;
}

.star {
  color: red;
}

.textboxdate[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.fourthpg-rightpage {
  background-color: #f5f5f5;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-replacer {
  font-size: 2rem;
  position: absolute;
  top: 0;
  padding: 0.5rem 2rem;
  pointer-events: none;
}

.firstpg-star {
  color: red;
}
